@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/* CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */

.MKLIWED-C {
    width: 100%;
    aspect-ratio: 1/0.85;
    position: relative;
}

.MKLIWED-1 {
    box-sizing: border-box;
    width: 18.5%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 10.5%;
    left: 16.2%;
    border-radius: 100px;
    background: var(--MKLIWEDIM)center/cover;
    rotate: 2deg;
}

.MKLIWED-BG {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/f8ZbT0l.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWED-GB {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/fUHmeYx.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWED-TX {
    position: absolute;
    font-family: 'Bai Jamjuree';
    line-height: 1.8;
    color: #403835;
    font-size: clamp(0.6rem, 1.1vw, 1.2vw);
    width: 43%;
    height: 50%;
    overflow-y: auto;
    text-align: justify;
    top: 30%;
    left: 45%;
}

.MKLIWED-TX::-webkit-scrollbar {
  display: none;
}

.MKLIWED-PS {
    position: absolute;
    font-family: 'Bai Jamjuree';
    font-size: clamp(0.6rem, 1.1vw, 1.2vw);
    width: 50%;
    line-height: 1.5;
    color: #403835;
    overflow-y: auto;
    text-align: right;
    top: 82%;
    left: 38%;
}

/* CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */

