@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Uncial+Antiqua&display=swap');
@font-face {font-family: 'BrookshireRegular';src:url('https://noelrrrrr.github.io/vlk/BrookshireRegular.ttf');}

/* CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */
/* SPICIAL THANKS TO ZZZCODE @savant777 FOR IMPROVEMENTS */

:root {
    --MKLIWED-POS: center;
    --MKLIWED-SIZE: cover;
}

.MKLIWED-C {
    width: 100%;
    aspect-ratio: 1/0.85;
    position: relative;
}

.MKLIWED-1 {
    box-sizing: border-box;
    width: 18.5%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 10.5%;
    left: 16.2%;
    border-radius: 100px;
    background: var(--MKLIWEDIM) var(--MKLIWED-POS)/var(--MKLIWED-SIZE);
    rotate: 8deg;
}

.MKLIWEDCM {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/fUyowxV.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWEDCC {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/fUy1E0b.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWEDBN {
    font-family: 'BrookshireRegular';
    font-size: clamp(1rem, 8.2vw, 7rem);
    line-height: 1;
    text-align: right;
    position: absolute;
    color: #f6f2f1;
    width: 63%;
    top: 3%;
    left: 34.9%;
}

.MKLIWED-BG {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/f8ZbT0l.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWED-GB {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/fUHmeYx.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 10%;
    z-index: 3;
}

.MKLIWED-TX {
    position: absolute;
    font-family: 'Bai Jamjuree';
    line-height: 1.8;
    color: #403835;
    font-size: clamp(0.6rem, 1vw, 1.2vw);
    width: 43%;
    height: 50%;
    overflow-y: auto;
    text-align: justify;
    top: 30%;
    left: 45%;
}

.MKLIWED-TX::-webkit-scrollbar {
  display: none;
}

.MKLIWED-NM {
    font-family: 'Uncial Antiqua', serif;
    font-size: clamp(1rem, 2.0vw, 2rem);
    line-height: 1;
    text-align: center;
    position: absolute;
    color: #403835c0;
    width: 45%;
    top: 30.5%;
    left: 44%;
}

.MKLIWED-TXT {
    position: absolute;
    font-family: 'Bai Jamjuree';
    line-height: 1.8;
    color: #403835;
    font-size: clamp(0.6rem, 1vw, 1.2vw);
    width: 43%;
    height: calc(48% - clamp(2.3rem, 3.4vw, 4rem));
    overflow-y: auto;
    text-align: justify;
    top: calc(31% + clamp(2.3rem, 3.4vw, 4rem));
    left: 45%;
}

.MKLIWED-TXT::-webkit-scrollbar {
  display: none;
}

.MKLIWED-PS {
    position: absolute;
    font-family: 'Bai Jamjuree';
    font-size: clamp(0.6rem, 1vw, 1.2vw);
    width: 50%;
    line-height: 1.5;
    color: #403835;
    overflow-y: auto;
    text-align: right;
    top: 82%;
    left: 38%;
}

.MKLIWEDANO {
    width: 100%;
    aspect-ratio: 2/2.7;
    position: relative;
}

.MKLIWEDAN1 {
    box-sizing: border-box;
    width: 16%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 6.5%;
    left: 11.5%;
    background: var(--MKLIWEDUP)center/cover;
}

.MKLIWEDAN2 {
    box-sizing: border-box;
    width: 16%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 43%;
    left: 71.2%;
    background: var(--MKLIWEDMD)center/cover;
}

.MKLIWEDAN3 {
    box-sizing: border-box;
    width: 16%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 72.5%;
    left: 11.5%;
    background: var(--MKLIWEDDN)center/cover;
}

.MKLIWEDREC {
    position: absolute;
    width: 85%;
    aspect-ratio: 2/3;
    background: url(https://iili.io/fUAmjSe.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 7%;
}

.MKLIWEDANTX {
    position: absolute;
    font-family: 'Bai Jamjuree';
    line-height: 1.6;
    color: #403835;
    font-size: clamp(0.6rem, 1vw, 1.2vw);
    width: 40%;
    height: 61%;
    overflow-y: auto;
    top: 20%;
    left: 30%;
    text-align: justify;
}

.MKLIWEDANTX::-webkit-scrollbar {
  display: none;
}

/* CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */
/* SPICIAL THANKS TO ZZZCODE @savant777 FOR IMPROVEMENTS  */
