@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Instrument+Serif:ital@0;1&family=Oooh+Baby&display=swap');
@font-face {font-family:'Protest Demo'; src: url("https://noelrrrrr.github.io/vlk/ProtestDemoRegular.otf");}

:root {
    --svkt-pic: transparent;
    --svkt-pos: center;
    --svkt-size: cover;
    --svkt-color: #6d87b8;
}

.svktbox {
  max-width:500px;
  height: auto;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  padding: 50px 20px 50px 20px;;
}
.svktnm {
  max-width:500px;
  line-height:80%;
  padding:15px 0px 0px 0px;
  margin-bottom:3px;
  font-size:56px;
  font-family: 'Instrument Serif', serif;
  text-align:left;
  color:#ababab;
}
.svktsay {
  max-width:500px;
  line-height:90%;
  padding: 10px 0px 15px 0px;
  font-size:28px;
  font-family: 'Oooh Baby', cursive;
  text-align:right;
  color: var(--svkt-color);
}

.svktimg {
  max-width:500px;
  height:250px; 
  margin: auto;
  background: var(--svkt-pic) var(--svkt-pos)/var(--svkt-size) no-repeat;
  margin-bottom:20px;
}
.svkttext  {
  max-width:500px;
  line-height:30px;
  padding: 0px 0px 10px 0px;
  text-align: justify;
  font-size:16px;
  font-family: 'Bai Jamjuree' ;
  color:#ababab;
}
.svktps {
  max-width:500px;
  line-height:100%;
  font-size:16px;
  font-family: 'Bai Jamjuree', serif;
  color: var(--svkt-color);
  text-align:right;
  padding: 0px -290px;
  text-transform:uppercase;
}
