@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Instrument+Serif:ital@0;1&family=Oooh+Baby&display=swap');

:root {
    --svkt-pic: transparent;
    --svkt-pos: center;
    --svkt-size: cover;
    --svkt-color: #6d87b8;
}

.svktbox {
  max-width:600px;
  height: auto;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  padding: 50px 20px 50px 20px;
}
.svktnm {
  max-width:600px;
  line-height:80%;
  padding:15px 0px 0px 0px;
  margin-bottom:3px;
  font-size:56px;
  font-family: 'Instrument Serif', serif;
  text-align:left;
  color:#ababab;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
  transition: all 1s ease-out;
}

.svktsay {
  max-width:600px;
  line-height:90%;
  padding: 10px 0px 15px 0px;
  font-size:28px;
  font-family: 'Oooh Baby', cursive;
  text-align:right;
  color: var(--svkt-color);
}

.svktimg {
  max-width:600px;
  height:250px; 
  margin: auto;
  background: var(--svkt-pic) var(--svkt-pos)/var(--svkt-size) no-repeat;
  margin-bottom:20px;
}
.svkttext  {
  max-width:600px;
  line-height:30px;
  padding: 0px 0px 15px 0px;
  text-align: justify;
  font-size: 17px;
  font-family: 'Bai Jamjuree' ;
  color:#ababab;
}
.svktps {
  max-width:600px;
  line-height:100%;
  font-size: 17px;
  font-family: 'Bai Jamjuree', serif;
  color: var(--svkt-color);
  text-align:right;
  text-transform:uppercase;
}

.svktnm:hover  {
  color: #d3d3d3; 
  text-shadow: 0 0 5px #6d87b8, 0 0 10px #6d87b8, 0 0 15px #6d87b8; 
  transition: all 1s ease-out;
}

