@font-face {font-family: 'Lordish';src: url('https://noelrrrrr.github.io/vlk/fonnts.com-Lordish-Regular.ttf');}
@font-face {font-family: 'Meiland Gorgeous'; src:url('https://noelrrrrr.github.io/vlk/MeilandGorgeous.ttf');}

#vlkrpfindex ::-webkit-scrollbar {

	background: #000000;
	width: 0px;
	padding: 0;
	margin-right: 0px;
}

#vlkrpfindex::-moz-selection {

	color: #aaa;
	background: none;
	text-shadow: 0px 0px 0px #000!important;
}

#vlkrpfindex::selection {

	color: #aaa;
	background: none;
	text-shadow: 0px 0px 0px #000!important;
}

.page {
	padding-top:80px; 
	height:350px; 
	text-align:center; 
	font-size: 2rem;
}

.headtitle-a { 
	width:300px; 
	height: 300px; 
	font-family: Lordish; 
	font-size:80px; 
	line-height:100%;
}

.profile-table {
  background-color: none; 
  position: relative;   
  width: 700px;     
  height: 780px;     
  margin-top:15px;
} 

.tarot_morte, .tarot_luna, .tarot_papessa {
  position: absolute; 
  z-index: 2; 
  float: left;
  width: 230px; 
  height: 394px; 
  background-color: transparent; 
  perspective: 1000px;
}

#morte {
  left:30px; 
  margin-top:40px; 
  transform: rotate(-15deg);
}

#luna {
  right: 30px;
  margin-top:40px; 
  transform: rotate(15deg);
}

#papessa {
  left: 235px; 
  margin-top:0px;
}

.tarot_morte-inner, .tarot_luna-inner, .tarot_papessa-inner { 
  position: relative;  
  width: 100%;  
  height: 100%; 
  text-align: center;  
  transition: transform 0.8s; 
  transform-style: preserve-3d;
}
.tarot_morte:hover .tarot_morte-inner,.tarot_luna:hover .tarot_luna-inner,.tarot_papessa:hover .tarot_papessa-inner {
  transform: rotateY(180deg);
}

.tarot_morte-front, .tarot_morte-back,.tarot_luna-front, .tarot_luna-back,.tarot_papessa-front, .tarot_papessa-back {
  position: absolute; 
  width: 100%;
  height: 100%; 
  -webkit-backface-visibility: hidden;  
  backface-visibility: hidden;
}

.tarot_morte-front, .tarot_luna-front, .tarot_papessa-front {
  background-color: none;
  color: none;
}

.tarot_morte-back, .tarot_luna-back, .tarot_papessa-back { 
  background-color: none;  
  color: none;  
  transform: rotateY(180deg);
}

.pannelli_box {
  position: relative; 
  z-index: 3; 
  float: left; 
  overflow: hidden; 
  opacity: 1; 
  width: 320px; 
  height: 245px; 
  margin-top: 460px; 
  left: 190px; 
  background-color: #0e0e0e;
  box-shadow: 0px 0px 10px #000;
}

.id_box { 
  position: relative; 
  overflow: hidden; 
  width: 320px; 
  height: auto;
  margin-top: 0px; 
  left: 0px; 
  background-color:#0e0e0e; 
  background-repeat: no-repeat; 
  background-position: 0px -100px;
}

.id_inner {
  overflow: hidden; 
  position: relative; 
  z-index: 1; 
  float: left; 
  width: 280px;
  height: 200px;
  padding:10px;
  margin-top: 10px;
  left: 10px;
}

.id_text {
  overflow: auto; 
  position: relative; 
  z-index: 2; 
  float: left; 
  width: 280px;
  height: 200px;
  margin-top: 0px;
  left: 0px;
  color: #555;
  font-family: 'Barlow', sans-serif;
  text-align: justify; 
  font-size: 11px;
  line-height: 12px; 
  text-shadow: 1px 1px 0px #000;
  letter-spacing:0;
}

.tarocchi_inner {
  overflow: hidden; 
  position: absolute; 
  z-index: 2; 
  float: left;
  width: 280px; 
  height: 90px; 
  padding:10px; 
  margin-top: 10px; 
  left: 10px;
}

.none img{
  -moz-transition: all ease-out 0.5s; 
  -webkit-transition: all ease-out 0.5s; 
  -o-transition: all ease-out 0.5s;  
  height:70px; 
  padding: 0px; 
  border: 2px solid #000; 
  margin-right: -5px;
}

.quote_text {
  position: absolute; 
  z-index: 2; 
  float: left; 
  overflow: auto;  
  opacity: 1;     
  width: 700px; 
  height: 40px;
  background-color: none; 
  margin-top: 420px; 
  left: 0px; 
  color: #9e9e9e; 
  font-family: 'cambria'; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 9px; 
  font-weight: none; 
  letter-spacing: 2px; 
  line-height: 11px; 
  text-shadow: 1px 1px 0px #555;
}

.tarocchi_botton {
  position: absolute; 
  z-index: 3; 
  float: left;  
  opacity: 1;
  opacity:0.6;     
  -moz-transition: all ease-out 0.5s; 
  -webkit-transition: all ease-out 0.5s; 
  -o-transition: all ease-out 0.5s; 
  width: 120px; 
  height: 125px; 
  margin-top: 470px; 
  left: 90px; 
  background-color: none;
  filter: grayscale(1);
}

.tarocchi_botton:hover { 
  filter: grayscale(0);
}

.pietra_botton {
  position: absolute; 
  z-index: 3; 
  float: left;  
  opacity: 1;
  opacity:0.6;     
  -moz-transition: all ease-out 0.5s; 
  -webkit-transition: all ease-out 0.5s; 
  -o-transition: all ease-out 0.5s; 
  width: 100px; 
  height: 105px; 
  margin-top: 475px; 
  right: 90px; 
  background-color: none; 
  transform: rotateY(180deg);
  filter: grayscale(1);
}

.pietra_botton:hover { 
  filter: grayscale(0);
}

.ribbon_botton {
  position: absolute; 
  z-index: 3; 
  float: left; 
  opacity: 1;opacity:0.6;
  -moz-transition: all ease-out 0.5s; 
  -webkit-transition: all ease-out 0.5s; 
  -o-transition: all ease-out 0.5s; 
  width: 100%; 
  height:300px; 
  margin-top: 720px; 
  background-color: none;
  filter: grayscale(1);
}

.ribbon_botton:hover {
  filter: grayscale(0);
}

.id_text m { 
  -moz-transition: all ease-in-out 0.3s; 
  -webkit-transition: all ease-in-out 0.3s; 
  -o-transition: all ease-in-out 0.3s; 
  color: #555;!important; 
  font-family: 'cambria'!important; 
  font-size: 10px!important; 
  line-height: 10px!important; 
  text-transform:uppercase!important; 
  letter-spacing: 3px!important; 
  text-decoration:none!important;
}

.id_text  m:hover {
  color: #796C4E; 
  text-shadow: 2px 0px 0px #796C4E, -2px 0px 0px #362936;
}

.id_text e {
  font-family: 'cambria'; color: #828282; font-size: 10px; line-height: 10px; text-transform: lowercase; letter-spacing:1px;
} 
