@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
.vlkwhis {
  max-width: 600px;
  height: auto;
  box-sizing: border-box;
  background: #ffffff00;
  margin: auto;
  position: relative;
  padding: 50px 20px 50px 20px;;
}
.vlkwhishead {
margin: auto;  
padding-top: 30px;
padding-bottom: 30px;
max-width: 450px;
max-height: 200px;
}
.vlkwhispic {
max-width: 450px;
height: 200px;
background: url(https://iili.io/FMDeiQe.gif),url(https://i.imgur.com/ZPToiyk.jpeg)center/cover no-repeat; 
background-blend-mode: screen; 
background-position: 25% 20%;
}
.vlkwhispost {
  color: #ababab;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Bai Jamjuree';
  line-height: 30px;
  font-size: 16px;
  padding: 20px;
}
.vlkwhisinfo {
  color: #ababab;
  display: relative;
  font-family: 'Bai Jamjuree', serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;  
  padding-bottom: 10px;
}
.vlkwhisic {
  color: #ababab;
  font-size: 12px;
  display: inline-block;
  padding: 2px;
  margin-left: 10px;
}
.vlkwhisbox {  
  -moz-transition: all ease-in-out 3s; 
  -webkit-transition: all ease-in-out 3s; 
  -o-transition: all ease-in-out 3s; 
  text-align: center;
  text-transform: uppercase;
  height: 10px;
  transition-delay: 2s;
  transform: rotate(0deg);
  color: #ababab;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 12px; 
  letter-spacing: 8px;
  text-shadow: 1px 1px 1px #000;
}
.table:hover .vlkwhisbox {
     opacity: 1;
     transition-delay: 2s;
}
@keyframes vlkwhis {
     0% {color: #c7c7c7; filter:blur(0px);}
     50% {color: #c7c7c7; filter:blur(1.5px);}
     100% {color: #c7c7c7; filter:blur(0px);}
}
#vlkwhispulse {
     animation: vlkwhis 5s infinite;
}
.vlkwhi {
  max-width: 600px;
  height: auto;
  box-sizing: border-box;
  background: #ffffff00;
  margin: auto;
  position: relative;
  padding: 50px 20px 50px 20px;
}
.vlkwhpc {
  margin: auto; 
  max-width: 450px;
  height: 200px;
  background: url(https://iili.io/FMDeiQe.gif),url(https://iili.io/fZbwIO7.jpg)center/cover no-repeat; 
  background-blend-mode: screen; 
  background-position: 25% 20%;
  margin-top: 32px;
  margin-bottom: 28px;
}
.vlkwhipt {
  color: #ababab;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Bai Jamjuree';
  line-height: 30px;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}
.vlkwhif {
  color: #ababab;
  display: relative;
  font-family: 'Bai Jamjuree', serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;  
  padding-bottom: 10px;
}
.vlkwhic {
  color: #ababab;
  font-size: 12px;
  display: inline-block;
  padding: 2px;
  margin-right: 5px;
}
.vlkwhb {  
  -moz-transition: all ease-in-out 3s; 
  -webkit-transition: all ease-in-out 3s; 
  -o-transition: all ease-in-out 3s; 
  text-align: center;
  text-transform: uppercase;
  height: 10px;
  transition-delay: 2s;
  color: #ababab;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 12px; 
  letter-spacing: 8px;
  text-shadow: 1px 1px 1px #000;
}
#vlkse {
     animation: vlkse 5s infinite;
}
@keyframes vlkse {
     0% {color: #c7c7c7; filter:blur(0px);}
     50% {color: #c7c7c7; filter:blur(1.5px);}
     100% {color: #c7c7c7; filter:blur(0px);}
}
